{% if include_header | default(True) %}
<div class="w-full max-w-md mx-auto text-center mb-8">
    <h1 class="text-3xl font-serif font-extrabold text-brand-dark tracking-tight mb-2">
        Analysis Report
    </h1>
    <p class="text-brand-dark opacity-70 text-sm">
        Below are the results of the analysis based on the round protocol data. Please take your time to
        understand the process of how these results were generated and the limitations of the analysis
        before drawing any conclusions.
    </p>
</div>
{% endif %}

{% include "/report_components/alignment.html" %}
{% include "/report_components/bias.html" %}
{% include "/report_components/blocs.html" %}